.html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*=====================================NavBar====================================== 
.barra .direita .li
{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}
.barra .direita .li:hover{
    background-color: yellow;
}*/




ul {

    font-size: 1.1rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;

    margin-top: 9%;
    margin-left: -40%;
    flex-wrap: wrap;


}

ul :hover {
    cursor: pointer;

}

nav {
    width: 50%;

}

i {
    display: block;
    position: relative;
    top: 20px;
    Color: rgb(255, 255, 255);
    margin-left: -50%;

}

i:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    display: block;
    color: rgb(24, 23, 23);
    font-size: 17.2061px;
    transition: ease-in-out 0.3s;
    margin-left: 0%;

}

a:hover {
    color: rgba(53, 110, 233, 0.781);

}

.prohemlogo {
    width: 115%;
    display: block;
}

.logo {
    margin-left: -10%;
    width: 30%;
    height: 80px;
    margin-top: 0%;
    min-height: 10vh;


}


.barra {
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    /*background-color: #4c3228be;*/
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;

}

.barra-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.centralizador {
    max-width: 1000px;
    margin: 0 auto;
}

button.btnlogin {


    border-radius: 12px;
    cursor: pointer;
    font-size: 13px;
    border: none;
    transition: ease-in-out 0.3s;

    padding: 5px 14px 5px 20px;
    height: 35px;

    margin-left: 95%;
    margin-top: -10%;

    color: white;
    background-color: rgba(53, 110, 233, 0.781);

    transition: ease-in-out 0.3s;


}

button.btnlogin:hover {
    cursor: pointer;
    background-color: rgba(53, 110, 233, 0.589);
}

/*=============*/
button.btnlogin2 {


    border-radius: 12px;
    cursor: pointer;
    font-size: 13px;
    border: none;
    transition: ease-in-out 0.3s;

    padding: 5px 14px 5px 20px;
    height: 35px;

    margin-left: 95%;
    margin-top: -10%;

    color: white;
    background-color: rgba(53, 110, 233, 0.781);

    transition: ease-in-out 0.3s;
    display: none;

}

button.btnlogin2:hover {
    cursor: pointer;
    background-color: rgba(53, 110, 233, 0.589);
}



button.btnregistrar {


    border-radius: 12px;
    cursor: pointer;
    font-size: 13px;
    border: none;
    transition: ease-in-out 0.3s;

    padding: 5px 14px 5px 20px;
    height: 35px;

    margin-left: 95%;
    margin-top: -10%;

    color: white;
    background-color: rgba(53, 110, 233, 0.781);

    transition: ease-in-out 0.3s;
    display: none;

}

button.btnregistrar:hover {
    cursor: pointer;
    background-color: rgba(53, 110, 233, 0.589);
}


/*=============*/
/*--=================================NavBar Ate aqui=================================--*/
/*--==================================++++++++++=====================================--*/
/*--==================================++++++++++=====================================--*/
/*--==================================++++++++++=====================================--*/
/* barra de navegação terminada */
/* criando início */
/*--=================================Section 1=======================================--*/
/*--==================================++++++++++=====================================--*/
section.site-title {
    background-color: rgba(20, 107, 207, 0.8);
    background: url('../img/1.PNG');
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: -3%;
  }
  
  section .site-title .site-background {
    padding-top: 28rem;
    text-align: center;
    color: var(--white);
  }
/*--==================================++++++++++=====================================--*/
/*--==================================++++++++++=====================================--*/
#inicio 
{
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: solid 0px rgba(255, 255, 255, 0.452);
}

.close-menu {
    display: none;
}

.meu-nome::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
.cur1
{
    display: none;
}


/*--=================================Section ate aqui 1===============================--*/
/*--==================================++++++++++=====================================--*/
/*--==================================++++++++++=====================================--*/
/*--==================================++++++++++=====================================--*/
/*--=================================Responsive Code=================================--*/
@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (max-width:1200px) {
    
    #AboutUs
    {
        display: none;
    }
    .contact
    {
        display: none;
    }
    button.btnlogin {
        display: none;
    }

    .cur
    {
        display: none;
    }
    .cur1
    {
        display: contents;
    }
    #inicio {
        
        background: linear-gradient(63.13deg, rgba(19, 20, 20, 0.247) 51.05%, rgba(19, 20, 20, 0.397) 51.04%), url('../img/1.PNG');
        background-size:160%;
        display: flex;
        margin-left: -110%;
    }

    .ajustador {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 50px;
    }

    .desenho {
        padding: 100px 0;
    }

    .apresentacao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .linkedin {
        width: 479px;
        margin-top: 15px;
    }

    .esquerda {
        margin-left: 15px;
    }

    

}

@media (max-width:950px) {

    button.btnlogin {
        display: none;
    }

    



    .altura-ajuste {
        display: flex;
        justify-content: center;
    }

    .apresentacao {
        width: 100%;
        margin-left: 0%;
        margin-top: 40%;

    }

    .organizador {
        max-width: 300px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-areas:
            "desenho"
            "descricao";
        line-height: 35px;
        align-items: center;


    }

    #inicio {
        display: flex;
        justify-content: center;
    }



    .descricao {
        font-size: 20px;
    }

    .meu-nome {
        font-size: 30px;
    }

    
   

    .barra {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-centro {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -6%;
       
    }

    .centralizador {
        margin: 0;
    }

    .barra-conteiner {
        
        width:cover;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        
    }

    .barra-conteiner .logo {
        width: 100%
    
    }

    
    .direita ul {
        height: 350px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-left: -28%;
        margin-top: -25%;
        


    }

    .direita ul a {
        font-size: 35px;
        color: #ffffff;


    }

    /* configurando menu mobile */
    .barra {
        display: block;
        position: fixed;
        top: -100vh;
        transition: ease 0.3s;
    }


    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: rgba(19, 20, 20, 0.747);
        color: white;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;

    }


    /* ✕ */
    .close-menu:checked~.barra {
        top: 0;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '✕';
    }

    .barra .barra-conteiner ul li a {
        font-size: 25px;
    }

    .barra {
        background: rgba(19, 20, 20, 0.747);

    }

}


/*--=================================Responsive code=================================--*/
/*--==================================++++++++++=====================================--*/
/*--==================================++++++++++=====================================--*/
/*--==================================++++++++++=====================================--*/

/* --------x------ Site title --------x------- */

/********************************************************************
|||||||||||||||||||||||||||||||| #Cursos||||||||||||||||||||                           
*********************************************************************/
.cursos-section-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100vh;
    background-color: rgba(53, 110, 233, 0.781);
    border-top: 2px solid white;



}

.cursos-section-title {
    text-align: center;
    margin-top: -10%;
    margin-left: 11%;

}



.cursos-section-bg h3 {
    color: white;
    font-size: 32px;
    font-weight: 700;

}

.cursos-section-title h3 span {
    color: #f1d849;
}




.cursos-section-bg .info {
    font-family: var(--Lexend);
    font-size: 20px;
    text-align: center;
    width: 60vw;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}

.info .txt {
    color: white;
}



.cur {
    background: cover;

    height: 50vh;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.cur div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.cur:hover {
    letter-spacing: 5px;
}

.cur div {
    background-color: rgba(20, 22, 22, 0.788);
    width: 1000px;
    display: flex;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.cursos-itens {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}


.cimgs {
    background: cover;
    width: 55vw;
    height: 50vh;
}

/********************************************************************
|||||||||||||||||||||||||||||||| #Ate aqui Cursos||||||||||||||||||||                           
*********************************************************************/
/********************************************************************
/********************************************************************
|||||||||||||||||||||||||||||||| #About Section||||||||||||||||||||                           
*********************************************************************/
.About-section-bg {
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    background-color: rgba(53, 110, 233, 0.781);
    border-top: 2px solid white;
}

.About-section-title {
    text-align: center;
    margin-top: 15%;
    margin-left: 6%;

}



.About-section-bg h3 {
    color: white;
    font-size: 32px;
    font-weight: 700;

}

.About-section-title h3 span {
    color: #05386b;
}




.About-section-bg .info {
    font-family: var(--Lexend);
    font-size: 20px;
    text-align: center;
    width: 60vw;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}


.info .txt {
    color: white;
}

.imagens {
    display: flex;
    margin-top: 4%;
    margin-left: 5%;
    background-size: cover;
    width: 55vw;
    height: 55vh;
}

.imgs {
    width: 55vw;
    height: 55vh;
}


/********************************************************************
  ||||||||||||||||||||||||#About Section ate aqui||||||||||||||||||||                           
  *********************************************************************/

/*=========================*/
/*--==================================++++++ABOUTCVATEAQUI++++================================--*/


@keyframes html {
    0% {
        bottom: 0;
        left: 250px;
    }

    100% {
        bottom: 0;
        left: 50px;
    }
}

@keyframes css {
    0% {
        bottom: 0;
        left: 50px;
    }

    100% {
        bottom: 0;
        left: 250px;
    }
}


/*=======================================Responsive_1================================*/
/*=================================================================================*/
/*==================================================================================*/

@media (max-width:1220px) {

    /*===================================*/
    .cursos-itens
    {

    }
    .cur
    {
        display: none;
    }
    .cur1
    {
        display:contents;
    }
    /*===================================*/

       /*=========================*/
}

/*=======================================Responsive_2================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:1090px) {

   
    /*=========================*/

}

/*=======================================Responsive_3================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:1000px) {

   
    /*=========================*/

}

/*=======================================Responsive_4================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:950px) {

    

    /*=========================*/


}

/*=======================================Responsive_5================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:900px) {

    
    /*=========================*/


}


/*=======================================Responsive_6================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:800px) {



    /*=========================*/


}

/*=======================================Responsive_7================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:750px) {

    /*=========================*/
}

/*=======================================Responsive_8================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:680px) {

    /*=========================*/
}

/*=======================================Responsive_9================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:630px) {




}

/*=======================================Responsive_10================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:600px) {


    /*=========================*/
}

/*=======================================Responsive_11================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:540px) {




}

/*=======================================Responsive_11================================*/
/*=================================================================================*/
/*==================================================================================*/
@media (max-width:520px) {

}


/*=======================================Responsive_11================================*/
/*=================================================================================*/
/*==================================================================================*/

@media(max-device-width: 900px) {
    
    /*=========================*/
}

/*--=================================About Me ate aqui===============================--*/
/*--==================================++++++++++=====================================--*/
/*--==================================++++++++++=====================================--*/
/*--==================================++++++++++=====================================--*/
/*--=====================================My Projects=================================--*/
#projetos {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100vh;
    background-color: rgba(53, 110, 233, 0.781);
    border-top: 2px solid white;
}

.projetos {
    padding-top: 93px;
}

.projetos h2,
.projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}

button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: rgba(49, 48, 48, 0.966);
    border:#f1d849;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: #0e0d0d;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.pro {
    background-color: #C4C4C4;
    height: 215px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: rgba(20, 22, 22, 0.788);
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.actividade-section-title {
    text-align: center;
    margin-top: -10%;
    margin-left: 11%;

}

.projectos .h3
{
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.actividade-section-title h3 {
    color: white;
    font-size: 32px;
    font-weight: 700;

}

.actividade-section-title h3 span {
    color: #f1d849;
}
.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}


@media (max-width:1200px) {

    
    .projetos {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #projetos {
        display: flex;
        justify-content: center;
    }

    .projetos-itens {
        flex-direction: column;
    }

}

@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }

}

/********************************************************************
|||||||||||||||||||||||||||||||| #Contant Section||||||||||||||||||||                           
*********************************************************************/


.contact .column {
    float: left;
    width: 45%;
    height: 35vh;
  
  }
  
  .contact .row {
    background-color: #ffffff;
    align-items: center;
    width: 45%;
    height: 35vh;
    display: table;
    margin-left: 29%;
  }
  
  .contact .info {
    padding: 40px 40px;
    text-align: center;
    margin-left: 15%;
  
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    height: 75px;
    border: 2px solid white;
    background: #2b2929;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
    text-align: center;
    margin-left: 15%;
  
  
  }
  
  .contact .column i {
    font-size: 55vh;
    color: #ffffff;
  
    margin-bottom: -15px;
  }
  
  .contact .info h4 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  .contact .info p {
    color: white;
    font-size: 15px;
  }
  
  /********************************************************************
  ||||||||||||||||||||||||#Contact Section ate aqui||||||||||||||||||||                           
  *********************************************************************/


/*--------------------------------------------------------------
# Contact Responsive
--------------------------------------------------------------*/
@media (max-width: 850px) {

    .contact .column {
  
      float: left;
      width: 90%;
      height: 30vh;
  
    }
  
    .contact .row {
  
      background-color: #ffffff;
      align-items: center;
      width: 90%;
      height: 30vh;
      display: table;
      margin-left: 25%;
  
    }
  
    .contact .info {
  
      flex-direction: column;
      align-items: center;
      height: 30vh;
      border: 2px solid white;
      background: #2b2929;
      box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
      text-align: center;
      margin-left: -30%;
    }
  
    .About .info {
      padding: 40px 40px;
      text-align: center;
      margin-top: -30%;
  
      width: 60vw;
      flex-direction: column;
      align-items: center;
      height: 120px;
      background: transparent;
  
      text-align: center;
      margin-left: 27%;
  
  
    }
  
    .About .info p {
      font-size: 15px;
    }
  
  }
  
  /*--------------------------------------------------------------
  # Contact Responsive ate aqui
  --------------------------------------------------------------*/




  
/********************************************************************
|||||||||||||||||||||||||||||||| #Footer|||||||||||||||||||||||||||||                           
*********************************************************************/

footer.footer {
    /*display: inline-block;*/
    position: relative;
    bottom: 0;
    background-color: rgba(23, 26, 29, 0.8);
    width: 100%;
  
  }
  
  footer.footer .rights {
  
    background-color: rgba(23, 26, 29, 0.8);
    justify-content: center;
    font-family: var(--Josefin);
  }
  
  
  footer.footer .rights h4 .kazira {
    color: #a1c4fd;
  }
  
  footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 35%;
  }
  
  footer.footer .move-up span {
    background-color: rgba(23, 26, 29, 0.8);
  }
  
  footer.footer .move-up span:hover {
    color: var(--white);
    cursor: pointer;
  }
  
  /********************************************************************
  |||||||||||||||||||||||||||||||| #Footer ate aqui|||||||||||||||||||||                           
  *********************************************************************/